<div class="container">

  <div class="row mb-4 p-2">
    <div class="col-6">
      presidente
    </div>
    <div class="col-6">
      vice-presidente
    </div>
  </div>

  <div class="row mb-4 p-2">
    <div class="col-6">
      1º secretario
    </div>
    <div class="col-6">
     2º secretario
    </div>
  </div>

  <div class="row mb-4 p-2">
    <div class="col-6">
      1º tesoureiro
    </div>
    <div class="col-6">
     2º tesoureiro
    </div>
  </div>
  <div class="row mb-4 p-2">
    <div class="col-4">
      1ª conselho fiscal
    </div>
    <div class="col-4">
     2º conselho fiscal
    </div>
    <div class="col-4">
     3º conselho fiscal
    </div>
  </div>

</div>
